h1 {
  text-align: center;
  margin-top: 50px;
  color: darkcyan;
}
h2 {
  text-align: center;
  margin-top: 20px;
  color: rgb(42, 184, 184);
}
.countdown-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.countdown-el {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
